### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Docs ###
docs/java/

### Output ###
out/artifacts/

### Resources ###
/src/main/resources/META-INF/
/src/test/resources/META-INF/

### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/